﻿@model IEnumerable<HotelManagement.Models.RoomViewModel>

@{
    ViewData["Title"] = "AllRooms";
}


<h4>All Hotel Rooms</h4>
<div>
    <h6>Please kindly check for the answers to Question 1 in folders Domain-> Database -> HotelManagment.Domain -> dbo -> Script -> Question1 </h6>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { roomId = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { roomId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Create New Room", "Create")
